@model MovieActorsCodeFirst_24042022_5432.Models.Director

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.BirthDate)*@ doğum Traihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Update", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "List")
</p>
